@model ConfirmMailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Kullanici Maili</label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v"/>
        <br />
        <label>Mail adresinize gelen 6 haneli kodu giriniz</label>
        <input type="text" class="form-control" asp-for="confirmCode"/>
        <br/>
        <button class="btn btn-primary btn-outline-dark text-white">Hesabi aktiflestir</button>
    </form>
</div>
